.containerLeagues {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.subContainerLeague {
  display: flex;
  overflow-x: auto;
  width: 75vw;
}
.containerLeagueItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
