.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--yellow);
  font-weight: bold;
}
